/* ADD YOUR STYLES HERE */



.main-table {
    width: 100%;
}

.row-lines {
    border-top: solid 1px #a9a9a9;
    margin-right: 100px;
}

.data {
    width: 20%; 
    padding: 5px 0px;
}

.num-col {
    width: 5%;
}

th {
    padding-top: 20px;
    padding-bottom: 20px;

}

.container {
    width:100%;
}


.small-table-rowf {
    border-top: solid 1px #a9a9a9;
}

.text-2a {
    font-size: 36px;
    font-weight: bold;
    border: solid 1px red; 
    margin: 10px;
}

.text-2b {
    font-size: 12px;
    color: #a9a9a9;
    font-weight: bold;
    border: solid 1px red;
}